<p id="notice"><%= notice %></p>

<% if @seat.user %>
  <p>
    <strong>User:</strong>
    <%= link_to "#{@seat.user.email}", user_path(@seat.user) %>
  </p>
  <p>
    <strong>Position:</strong>
    <%= @seat.place %>
  </p>
  <br/>
  <% if not @seat.user == @user %>
  <%= link_to "Chat with #{@seat.user.email}", new_chat_path(:id => @seat.user.id)%> | 
  <% end %>
<% else %>
  <p>
    <strong>User:</strong>
    <em>This seat is open!!</em>
  </p>
  <p>
    <strong>Position:</strong>
    <%= @seat.place %>
  </p>

  <%= render "form" %>
  <br/>
<% end %>

<%= link_to 'Back to Seating Chart', seats_path %>
