<h1><% if @user == current_user %>Your Home<% else %>User # <%= @user.id %><% end %></h1>

<div>
email: <%= @user.email %> <%if @user == current_user %><%= link_to "change email?", edit_user_path(current_user) %><% end %>
</div>

<div>
sitting: 
     <% if @user.seat %>
       <%= @user.seat.place %> <% if @user == current_user %><%= link_to "change seats?", seats_path %><% end %>
     <% else %>
      up in the clouds <% if @user == current_user %><%= link_to "Pick a seats?", seats_path %><% end %>
     <% end %>
</div>
<% if @user == current_user %>
   <h3>Your Past Chats</h3>
   <ul>
   <% @user.chats.each do |chat| %>
     <li>
       <%= link_to "#{chat.time}", chat_path(chat) %> 
       <% if chat.users.count > 1 %>
       with
       <% chat.users.each do |user| %>
         <% if user != current_user %>
           <%= user.email %>
         <% end %>
       <% end %>
       <% end %>
       <%= link_to 'Kill it?', @chat, :confirm => 'Are you sure you want to kill the chat?', :method => :delete %></td>
     </li>
   <% end %>
   </ul>
<% end %>
