<%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
  <% if @other %>   
      <input id="other_guy" name="user2" size="30" type="hidden" value="<%= @other.email %>">
      <div class="field">
        <label>Message to <%= @other.email %>:</label><br/>
  <% else %>
      <div class="field">
        <label>User</label>
        <input id="other_guy" name="user2" size="30" type="text" value="">
      </div>
      <div class="field">
        <label>Message</label>
  <% end %>
    <textarea cols="40" id="message_msg" name="message" rows="20"></textarea>
  </div>

  <div class="actions">
    <%= submit_or_cancel(f, "Sent Message") %>
  </div>
<% end %>
