<%= form_for([@chat, @message]) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Message' %><br />
    <%= f.text_area :msg %>
  </div>
  <div class="actions">
    <%= submit_or_cancel(f, "Sent Message", "Back") %>
  </div>
<% end %>
