<%= form_for(@chat) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <input id="other_guy" name="user2" size="30" type="hidden" value="<%= @other.id %>">
      <div class="field">
          <label>Message to <%= @other.email %>:</label><br/>
        <textarea cols="40" id="message_msg" name="message" rows="20"></textarea>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
