<%= form_for([@user, @chat]) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
          <label>Message to <%= @other.email %>:</label><br/>
        <textarea cols="40" id="message_msg" name="message[msg]" rows="20"></textarea>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
