<h1>Listing chats</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chats.each do |chat| %>
  <tr>
    <td><%= chat.time %> <td>
    <td><%= link_to 'Show', chat_path(chat) %></td>
    <td><%= link_to 'Destroy', chat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul>
<% @users.each do |user| %>
  <li><%= link_to "#{user.id} #{user.email}", new_chat_path(:id => user.id)%></li>
<% end %>
</ul>
<br />

<%= link_to 'New Chat', new_chat_path %>
