<p id="notice"><%= notice %></p>
<h1>Messages</h1>
<% @chat.messages.each do |message| %>
 <p><%= message.user.email %>: <%= message.msg %></p>
<% end %>

<%= render 'form2' %>
<%= link_to 'Back', chats_path %>
